@import "../styles/fonts.css";
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    background-color: #1a1a1a;
}

header{
    background-color: #121212;
    padding: 16px 0;
}

section{
    padding: 45px 0;
}

footer{
    background-color: #121212;
    padding: 62px 0;
}

.section--black{
    background-color: #121212;
}
.section-bg{
    height: 185px;
    width: 100%;
    z-index: -1;
    filter: brightness(80%);
    
    background-repeat     : no-repeat;
    background-position-x : 50%;
    background-position-y : 50%;
}
.section-bg--4{
    background-image: url("../images/backgrounds/4.jpg");
}
.section-bg--5{
    background-image: url("../images/backgrounds/5.jpg");
}
.section-bg--7{
    background-image: url("../images/backgrounds/7.jpg");
}

.container{
    margin: auto 150px;
}

.container--center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-logo{
    width: 500px;
    height: 100%;
}
.big-desc{
    font-size: 25px;
}

.splitter{
    padding: 0 35px;
    margin: 10px 0;
    width: 245px;
    border-top: 1px #B650A6 solid ;
}

.text--center{
    text-align: center;
}

.text-description{
    font-size: 20px;
}

.title{
    font-size: 45px;
    text-decoration: solid;
}